<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.cd.panda.dao.PdThemeDao2">	

	<select id="getThemeByID" parameterType="java.lang.Integer" resultType="PdTheme">
		select * from pd_theme where id=#{id, jdbcType=INTEGER};
	</select>

</mapper>